<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo1.dao.UmsDAO">

    <resultMap id="umsMap" type="com.example.demo1.model.Ums">
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>


    <!--登录-->
    <select id="login" resultType="com.example.demo1.model.Ums">
        SELECT * FROM ums WHERE username=#{username} AND password=#{password}
    </select>

    <!--注册-->
    <select id="registered">
        INSERT INTO ums(username,password)
        VALUES (#{username},#{password})
    </select>


    <!--修改密码-->
    <select id="updatePassword">
        UPDATE ums SET password=#{password} WHERE id=#{id}
    </select>
</mapper>